@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }

  @mixin box($width: 100%, $height: 100%){
    width: $width;
    height: $height;
  }

  // Размер шрифта из пикселей в rem
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
  @mixin font-size($size) {
    font-size: calculateRem($size);
  }
  @mixin letter-spacing($size) {
    letter-spacing: calculateRem($size);
  }
  @mixin line-height($size) {
    line-height: calculateRem($size);
  }

  @mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}